.dark-mode-header{
    background-color: #0a3d62;
    color: #eaeaea;
}
.dark-mode-header:hover{
    background-color: #4da8da;
    color: #eaeaea;
}
.dark-mode-body{
    background-color: #121212;
    color:  #eaeaea;;
}
.dark-mode-titulos{
    color: #00bfff;
}
.dark-mode-botoes{
    color: #ffffff;
    background-color: #444444;
}